<template>
    <div>
        <SearchBlock /> 
        <FilterBlock />    
        <MainBlock /> 
        <div v-if="selectedPair">
            <h2 class="text-start mt-5">
                Graphic
            </h2>
            <hr>
            <BarChart />
        </div>
    </div>
</template>

<script>
    import BarChart from "@/components/BarChart";
    import SearchBlock from "@/components/SearchBlock";
    import FilterBlock from "@/components/FilterBlock";
    import MainBlock from "@/components/MainBlock";
    import { GET_CURRENCY, GET_CRYPTO_CURRENCY } from "@/store/modules/currency/types/getters";
    import { FETCH_CURRENCY } from "@/store/modules/currency/types/actions";
    import namespace from "@/store/modules/currency/namespace";
    import { mapGetters, mapActions } from "vuex";

    export default {
        components: {
            BarChart,
            SearchBlock,
            FilterBlock,
            MainBlock,
        },
        data() {
            return {
                selectedPair: "some-pair",
            };
        },
        computed: {
            ...mapGetters(namespace, {
                currency: GET_CURRENCY,
                cryptoCurrency: GET_CRYPTO_CURRENCY,
            }),
        },
        mounted() {
            this.fetchCurrency();
        },
        methods: {
            ...mapActions(namespace, {
                fetchCurrency: FETCH_CURRENCY,
            }),
        },
    };
</script>


<style lang="scss" scoped>
    .max-width {
        max-width: 15%;
    }
</style>
