<template>
    <fragment>
        <h2 class="text-start mt-5">
            Filter
        </h2>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="text-start mb-3">
                    Crypto currency:
                </div>
                <div class="d-flex">
                    <button class="btn btn-light px-3 me-1">
                        BTC
                    </button>
                    <button class="btn btn-light px-3 me-1">
                        ETH
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="text-start mb-3">
                    Fiat currency:
                </div>
                <div class="d-flex">
                    <button class="btn btn-light px-3 me-1">
                        USD
                    </button>
                    <button class="btn btn-light px-3 me-1">
                        UAH
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </fragment>
</template>