<template>
    <fragment>
        <h2 class="text-start">
            Add new currency
        </h2>
        <hr>
        <div class="input-group">
            <input
                v-model="digitalCurrency"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': error }"
                placeholder="Enter cryptocurrency here"
                @keydown.enter="addCurrency"
            >
            <select
                v-model="selectedFait"
                class="form-select max-width"
                aria-label="Default select example"
            >
                <option 
                    v-for="fait in faits" 
                    :key="fait.id" 
                    :value="fait.name"
                    :fait="fait"
                >
                    {{ fait.name }}
                </option>
            </select>
            <button class="btn btn-outline-primary col-3">
                Add currency
            </button>
        </div>
        <div
            v-if="error"
            class="text-danger text-start mt-3"
        >
            Some error
        </div>
    </fragment>
</template>

<script>
    import { mapState } from "vuex";
    import namespace from "@/store/modules/currency/namespace";

    export default {
        data() {
            return {
                error: true,
            };
        },
        computed: {
            ...mapState (namespace, [
                "faits",
            ]),
        },
        methods: {
            addCurrency() {
                return {
                    cryptoType: this.digitalCurrency,
                    fiatType: this.selectedCurrency,
                };
            },
        },
    };
</script>
